<%= render 'shared/nav_bar' %>


<div class="container">
  <h1>All our flats (<%= @flats.length %>)</h1>

  <% if @flats.empty? %>
    <p>No results were found</p>
  <% else %>
    <div class="d-flex flex-wrap justify-content-between">
      <% @flats.each do |flat| %>
        <%= render 'flat_card', flat: flat %>
      <% end %>
    </div>
  <% end %>

</div>
